<div>
  <h1>Inserisci un offerta per {{data.inserzione.book.title}} </h1>
  <p>L'ultima offerta inserita è {{data.inserzione.prezzoAttuale}}</p>
  <p>La tua offerta è
    <input type="text" #nuovaOfferta id="nuovaOfferta"><br><br>
  </p>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Annulla</button>
  <button mat-button (click)="aumentaPrezzo(nuovaOfferta.value)" cdkFocusInitial>Invia Offerta</button>

</div>