<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="showButtonLogin === true">
    <button class="btn btn-sm btn-outline-info" type="button" (click)="logout()">
      Login <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="showButtonLogin === false && isModerator === false ">
    <button class="btn btn-sm btn-outline-info" type="button" (click)="go_to_inserisci()">
      Inserisci inserzione 
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="showButtonInserzioni === false">
    <button class="btn btn-sm btn-outline-info" type="button" (click)="go_to_inserzioni()">
      Inserzioni
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"  *ngIf="showButtonLogin === false">
    <button class="btn btn-sm btn-outline-info" type="button" (click)="go_to_profilo()">
      Profilo
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"  *ngIf="isModerator === true">
    <button class="btn btn-sm btn-outline-info" type="button" (click)="go_to_listaUtenti()">
      Lista utenti
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"  *ngIf="isModerator === true">
    <button class="btn btn-sm btn-outline-info" type="button" (click)="go_to_newUser()">
      Invita moderatore
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="showButtonLogin === false">
    <button class="btn btn-sm btn-outline-info" type="button" (click)="logout()">
      Logout <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</nav>