<app-navbar></app-navbar>


<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Ruolo </th>
    <td mat-cell *matCellDef="let user"> {{user.role}} </td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Mail </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>


  <ng-container matColumnDef="regione">
    <th mat-header-cell *matHeaderCellDef> Regione </th>
    <td mat-cell *matCellDef="let user"> {{user.regione}} </td>
  </ng-container>

  <ng-container matColumnDef="elimina">
    <th mat-header-cell *matHeaderCellDef> Elimina </th>
    <td mat-cell *matCellDef="let user">
      <button mat-raised-button (click)="delete_user(user.username)">
        <i class="fas fa-trash-alt"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
</table>