<app-navbar></app-navbar>

<div class="formlogin">
  <form class="form-signin">
    <!-- <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Bentornato!</h1>
    <label for="inputUsername" class="sr-only">La tua username</label>
    <input type="text" #usertxt id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" #passwdtxt id="inputPassword" class="form-control" placeholder="Password" required>
    <button (click)="login( usertxt.value, passwdtxt.value )" class="btn btn-lg btn-primary btn-block"
      type="submit">Accedi</button>
      <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
  </form>

</div>

<!-- <button mat-button>Log In</button> -->
<!-- <button button (click)="login( usertxt.value, passwdtxt.value, checkr.checked );">Log In</button>

</div>

<div *ngIf="errmessage" class="alert alert-danger" role="alert">
  Login error: {{errmessage}}
</div> -->