<app-navbar></app-navbar>
<div>
  <p class="lead">
    INSERISCI INSERZIONE
  </p>
  <form>

    <h1>DATI LIBRO</h1>
    <div>
      <mat-label>Titolo</mat-label>
      <mat-form-field>
        <input matInput type="text" #titolo id="titolo" placeholder="Titolo">
      </mat-form-field>

    </div>

    <div>
      <mat-label>Università</mat-label>
      <mat-form-field>
        <input matInput type="text" #university id="university" placeholder="Università">
      </mat-form-field>

    </div>

    <div>
      <mat-label>Corso</mat-label>
      <mat-form-field>
        <input matInput type="text" #course id="course" placeholder="Corso">
      </mat-form-field>
    </div>



    <h1>DATI INSERZIONE</h1>

    <div>
      <mat-label>Data scadenza:</mat-label>
      <mat-form-field>
        <mat-select #data id="data">
          <mat-option *ngFor="let day of days" [value]="day" >
            {{day}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Mese scadenza:</mat-label>
      <mat-form-field>
        <mat-select #month id="month">
          <mat-option *ngFor="let month of months" [value]="month" >
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Anno scadenza:</mat-label>
      <mat-form-field>
        <mat-select #year id="year">
          <mat-option *ngFor="let year of years" [value]="year" >
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-label>Ora scadenza:</mat-label>
      <mat-form-field>
        <mat-select #ora id="ora">
          <mat-option *ngFor="let hour of hours" [value]="hour" >
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Minuti scadenza:</mat-label>
      <mat-form-field>
        <mat-select #minuti id="minuti">
          <mat-option *ngFor="let minute of minutes" [value]="minute" >
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div>
      <mat-label>Prezzo riserva</mat-label>
      <mat-form-field>
        <input matInput type="text" #prezzoRiserva id="prezzoRiserva" placeholder="Prezzo di riserva">
      </mat-form-field>
    </div>

    <div>
      <mat-label>Prezzo riserva</mat-label>
      <mat-form-field>
        <input matInput type="text"  #prezzoPartenza id="prezzoPartenza" placeholder="Prezzo di partenza">
      </mat-form-field>
    </div>

    
    <input type="submit" value="Inserisci"
      (click)="inserisci(titolo.value, university.value, course.value, data.value,month.value,year.value, ora.value, minuti.value, prezzoRiserva.value, prezzoPartenza.value);">
  </form>
</div>