<app-navbar></app-navbar>
<app-notifiche></app-notifiche>

<div class="jumbotron">

  <h2>Inserisci messaggio</h2>
  <div class="container">
  <div class="form-group">
    <!--<label for="messagetext">Message</label>-->
    <textarea class="form-control" #messagetx id="messagetext" 
    rows="3" placeholder="Inserisci il tuo messaggio qui"></textarea>
  </div>


  <button type="submit" class="btn btn-primary" (click)="post_message(messagetx.value)" >Invia <i class="fas fa-paper-plane"></i></button>

</div>

<div *ngFor="let message of messages" class="card" style="margin: 5px" > 
  <div class="card-body">
      <h5 class="card-title"><i class="far fa-envelope"></i>&nbsp;{{message.mittente}}</h5>        
      <h6 class="card-subtitle mb-2 text-muted">{{message.timestamp | date}} / {{message.timestamp | date:'shortTime'}}</h6>
      <p class="card-text">{{ message.content }}</p>
  </div>
</div>

