<app-navbar></app-navbar>
<app-notifiche></app-notifiche>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attiva </th>
      <td mat-cell *matCellDef="let row"> {{row.active}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="title">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Titolo
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="titleFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.book.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="university">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Università
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="universityFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.book.university}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="course">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Corso
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="courseFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.book.course}} </td>
    </ng-container>

    <ng-container matColumnDef="prezzoPartenza">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezzo Partenza </th>
      <td mat-cell *matCellDef="let row"> {{row.prezzoPartenza}} </td>
    </ng-container>

    <ng-container matColumnDef="prezzoAttuale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezzo Attuale </th>
      <td mat-cell *matCellDef="let row"> {{row.prezzoAttuale}} </td>
    </ng-container>

    <ng-container matColumnDef="prezzoRiserva">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezzo Riserva </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.active != 'true';">
          {{row.prezzoRiserva}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
      <td mat-cell *matCellDef="let row"> {{row.data}} </td>
    </ng-container>

    <ng-container matColumnDef="ora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ora </th>
      <td mat-cell *matCellDef="let row"> {{row.ora}} </td>
    </ng-container>

    <ng-container matColumnDef="userWinner">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Utente vincitore
        <mat-form-field [style.width.px]=50>
          <mat-label>Search</mat-label>
          <input matInput [formControl]="userWinnerFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.userWinner}} </td>
    </ng-container>

    <ng-container matColumnDef="insertByUser">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Inserita da
        <mat-form-field [style.width.px]=50>
          <mat-label>Search</mat-label>
          <input matInput [formControl]="insertByUserFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row"> {{row.insertByUser}} </td>
    </ng-container>

    <ng-container matColumnDef="dettagli" *ngIf="showButtonOfferta === true">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dettagli </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.active == 'true';">
          <button mat-button (click)="openDialogOfferta(row)" type="button" class="btn-outline-primary"
            *ngIf="showButtonOfferta === true && role === 'STUDENTE'  "><i class="fas fa-plus-circle"></i>
          </button>

          <button mat-button (click)="openDialogModifica(row)" type="button" class="btn-outline-primary"
            *ngIf="showButtonOfferta === true && role === 'MODERATORE'  "><i class="fas fa-edit"></i>
          </button>

          <button mat-button (click)="cancella(row)" type="button" class="btn-outline-primary"
            *ngIf="showButtonOfferta === true && role === 'MODERATORE'  "><i class="fas fa-trash-alt"></i>
          </button>
        </div>

      </td>
    </ng-container>


    <ng-container matColumnDef="messaggi" *ngIf="showButtonOfferta === true && role !== 'MODERATORE'">
      <th mat-header-cell *matHeaderCellDef> Messaggi </th>
      <td mat-cell *matCellDef="let row">
          <button mat-button type="button" class="btn-outline-primary"
            *ngIf="showButtonOfferta === true && role !== 'MODERATORE'"
            [routerLink]="['/message',row.insertByUser,row.inserzioneId]"><i class="fas fa-paper-plane"></i>
          </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

</div>