<app-navbar></app-navbar>
<div class="row justify-content-center " *ngIf="role !== 'MODERATORE'">
  <div class="col-8">
    &nbsp;
    <div class="form-group">
      <label>Username</label>
      <input #username id="username" type="text" placeholder="Username" value="" class="form-control">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input #password id="password" placeholder="Password" value= "" class="form-control">
    </div>

    <div class="form-group">
      <label>Nome</label>
      <input #nome id="nome" type="text" placeholder="Nome" value="" class="form-control">
    </div>

    <div class="form-group">
      <label>Cognome</label>
      <input #cognome id="cognome" type="text" placeholder="Cognome" value="" class="form-control">
    </div>


    <div class="form-group">
      <label>Email</label>
      <input #email id="email" type="text" placeholder="email" value="" class="form-control">
    </div>

    <div class="form-group">
      <label>Regione</label>
      <input #regione id="regione" type="text" placeholder="regione" value="" class="form-control">
    </div>

    <button (click)="register(username.value, 
    password.value,
    nome.value,
    cognome.value,
    email.value,
    regione.value
    )" type="submit" class="btn btn-primary">Crea utente</button>
  </div>
</div>

<div class="row justify-content-center " *ngIf="role === 'MODERATORE'">
  <div class="col-8">
    &nbsp;
    <div class="form-group">
      <label>Username</label>
      <input #username id="username" type="text" placeholder="Username" value="" class="form-control">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input #password id="password" placeholder="Password" value= "" class="form-control">
    </div>

    <button (click)="register(username.value, 
    password.value
    )" type="submit" class="btn btn-primary">Crea utente</button>
  </div>
</div>