<app-navbar></app-navbar>
<div *ngIf="role === 'STUDENTE'">
  <div>
    <p class="lead">
      <strong>Hey {{username}}!</strong> Questa è la pagina con le informazioni del tuo profilo
    </p>
    <div *ngIf="inserzioniDaNotificare.length > 0 ">
      INSERZIONI VINTE E APPENA NOTIFICATE
      <ul *ngFor="let inserzione of inserzioniDaNotificare">
        <li>Hai vinto il libro {{inserzione.book.title}} al prezzo di {{inserzione.prezzoAttuale}} euro</li>
      </ul>
    </div>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        INSERZIONI VINTE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <P> Da questo pannello è possibile visualizzare tutte le inserzioni vinte</P>
    <table mat-table [dataSource]="inserzioniVinte" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titolo </th>
        <td mat-cell *matCellDef="let inserzioniVinte"> {{inserzioniVinte.book.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="university">
        <th mat-header-cell *matHeaderCellDef> Università </th>
        <td mat-cell *matCellDef="let inserzioniVinte"> {{inserzioniVinte.book.university}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Corso </th>
        <td mat-cell *matCellDef="let inserzioniVinte"> {{inserzioniVinte.book.course}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="prezzoAttuale">
        <th mat-header-cell *matHeaderCellDef> Prezzo di vincita </th>
        <td mat-cell *matCellDef="let inserzioniVinte"> {{inserzioniVinte.prezzoAttuale}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDaNotificare"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsDaNotificare;"></tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        STATISTICHE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <P> Da questo pannello è possibile visualizzare alcune statistiche relative al tuo profilo</P>
    <P> INSERZIONI INSERITE</P>
    <table mat-table [dataSource]="inserzioniInserite" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titolo </th>
        <td mat-cell *matCellDef="let inserzioniInserite"> {{inserzioniInserite.book.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="university">
        <th mat-header-cell *matHeaderCellDef> Università </th>
        <td mat-cell *matCellDef="let inserzioniInserite"> {{inserzioniInserite.book.university}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Corso </th>
        <td mat-cell *matCellDef="let inserzioniInserite"> {{inserzioniInserite.book.course}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="prezzoAttuale">
        <th mat-header-cell *matHeaderCellDef> Prezzo attuale </th>
        <td mat-cell *matCellDef="let inserzioniInserite"> {{inserzioniInserite.prezzoAttuale}} </td>
      </ng-container>


      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Attiva </th>
        <td mat-cell *matCellDef="let inserzioniInserite"> {{inserzioniInserite.active}} </td>
      </ng-container>

      <ng-container matColumnDef="userWinner">
        <th mat-header-cell *matHeaderCellDef> Utente vincitore </th>
        <td mat-cell *matCellDef="let inserzioniInserite"> {{inserzioniInserite.userWinner}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsInserite"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsInserite;"></tr>
    </table>

    <P> INSERZIONI PARTECIPATE</P>
    <table mat-table [dataSource]="inserzioniPartecipate" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titolo </th>
        <td mat-cell *matCellDef="let inserzioniPartecipate"> {{inserzioniPartecipate.book.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="university">
        <th mat-header-cell *matHeaderCellDef> Università </th>
        <td mat-cell *matCellDef="let inserzioniPartecipate"> {{inserzioniPartecipate.book.university}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Corso </th>
        <td mat-cell *matCellDef="let inserzioniPartecipate"> {{inserzioniPartecipate.book.course}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="prezzoAttuale">
        <th mat-header-cell *matHeaderCellDef> Prezzo attuale </th>
        <td mat-cell *matCellDef="let inserzioniPartecipate"> {{inserzioniPartecipate.prezzoAttuale}} </td>
      </ng-container>


      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Attiva </th>
        <td mat-cell *matCellDef="let inserzioniPartecipate"> {{inserzioniPartecipate.active}} </td>
      </ng-container>

      <ng-container matColumnDef="userWinner">
        <th mat-header-cell *matHeaderCellDef> Utente vincitore </th>
        <td mat-cell *matCellDef="let inserzioniPartecipate"> {{inserzioniInserite.userWinner}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsInserite"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsInserite;"></tr>
    </table>
  </mat-expansion-panel>
</div>
<div *ngIf="role === 'MODERATORE'">
  <div *ngIf = "userData.nome === 'MODERATORE' ">
<p>Questo è il tuo primo login devi modificare  i dati per le prossime volte</p>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        STATISTICHE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <P> Attualmente ci sono attive {{numeroInserzioniAttive}} inserzioni</P>
    <P> Aste concluse senza aver raggiunto il prezzo di riserva</P>
    <table mat-table [dataSource]="inserzioniNonRaggiunte" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titolo </th>
        <td mat-cell *matCellDef="let inserzioniNonRaggiunte"> {{inserzioniNonRaggiunte.book.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="university">
        <th mat-header-cell *matHeaderCellDef> Università </th>
        <td mat-cell *matCellDef="let inserzioniNonRaggiunte"> {{inserzioniNonRaggiunte.book.university}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Corso </th>
        <td mat-cell *matCellDef="let inserzioniNonRaggiunte"> {{inserzioniNonRaggiunte.book.course}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="prezzoAttuale">
        <th mat-header-cell *matHeaderCellDef> Prezzo attuale </th>
        <td mat-cell *matCellDef="let inserzioniNonRaggiunte"> {{inserzioniNonRaggiunte.prezzoAttuale}} </td>
      </ng-container>


      <ng-container matColumnDef="prezzoRiserva">
        <th mat-header-cell *matHeaderCellDef> Prezzo riserva </th>
        <td mat-cell *matCellDef="let inserzioniNonRaggiunte"> {{inserzioniNonRaggiunte.prezzoRiserva}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsRiserva"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsRiserva;"></tr>
    </table>
  </mat-expansion-panel>

</div>
<mat-expansion-panel [expanded]="panelDatiUtente" (opened)="panelDatiUtente = true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      DATI UTENTE
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <P> Da questo pannello è possibile modificare le impostazioni dell'utente</P>
  <label for="fname">Password:</label>
  <input type="text" #password id="password" value={{userData.password}}><br><br>
  <label for="fname">Nome:</label>
  <input type="text" #nome id="nome" value={{userData.nome}}><br><br>
  <label for="fname">Cognome:</label>
  <input type="text" #cognome id="cognome" value={{userData.cognome}}><br><br>
  <label for="fname">Regione:</label>
  <input type="text" #regione id="regione" value={{userData.regione}}><br><br>
  <label for="fname">Email:</label>
  <input type="text" #email id="email" value={{userData.email}}><br><br>
  <input type="submit" value="Modifica" (click)="modifica(nome.value, cognome.value, password.value, regione.value, email.value);">
</mat-expansion-panel>