<div *ngIf="role === 'STUDENTE'">
  <strong>Hey {{username}}!</strong> Hai vinto {{countAsteVinte}} aste. Per verificare le aste vinte clicca qui
  <strong>Hey {{username}}!</strong> {{countAsteFinite}} tue aste sono finite. Per verificare le aste vinte clicca qui
  <button mat-button (click)="goToUserPage()" type="button" class="btn-outline-primary"><i class="fas fa-bell"></i>
  </button>
</div>

<div *ngIf="role === 'STUDENTE'" [style.visibility]="(nuovoMessaggio == true) ? 'hidden' : 'visible' " >
  <strong>Hey {{username}}!</strong> Una tua inserzione contiene messaggi. Per eliminare questa notifica clicca qui
  <button mat-button (click)="deleteNotify()" type="button" class="btn-outline-primary"><i class="fas fa-bell"></i>
  </button>
</div>