<div>
  <p class="lead">
    INSERISCI INSERZIONE
  </p>
  <form>
    <h1>DATI LIBRO</h1>
    <label for="fname">Titolo:</label>
    <input type="text" #titolo id="titolo" value={{inserzione.book.title}}>
    <label for="lname">Università</label>
    <input type="text" #university id="university"  value={{inserzione.book.university}}><br><br>
    <label for="lname">Corso:</label>
    <input type="text" #course id="course" value={{inserzione.book.course}}><br><br>
    <h1>DATI INSERZIONE</h1>
    <label for="fname">Data:</label>
    <input type="text" #data id="data"  value={{inserzione.data}}><br><br>
    <label for="fname">Ora:</label>
    <input type="text" #ora id="ora"  value={{inserzione.ora}}><br><br>
    <label for="fname" >Prezzo riserva:</label>
    <input type="text" #prezzoRiserva id="prezzoRiserva" value={{inserzione.prezzoRiserva}}><br><br>
    <label for="fname">Prezzo partenza:</label>
    <input type="text" #prezzoPartenza id="prezzoPartenza" value={{inserzione.prezzoPartenza}}><br><br>
    <input type="submit" value="Modifica" (click)="modifica(titolo.value, university.value, course.value, data.value, ora.value, prezzoRiserva.value, prezzoPartenza.value);" >
  </form>
</div>